PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/shopping-cart
# For MongoDB Atlas, use connection string format:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/shopping-cart?retryWrites=true&w=majority
